name: Publish libhc debian package

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      v-version: ${{ steps.version.outputs.v-version }}

    steps:
      - name: Get next version
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          release_branch: main
          use_api: true
          increment: patch

  build_and_publish:
    needs: create_release
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get -qq update -y
          sudo apt-get -qq install cmake

      - name: Check out
        uses: actions/checkout@v5

      - name: Build package
        run: | 
          cmake -B"./build" \
          -DCMAKE_INSTALL_PREFIX="/usr" \
          -DCMAKE_BUILD_TYPE=Release \
          -DLIBHC_VERSION=${{ needs.create_release.outputs.v-version }}
          cd build
          cpack -G DEB

      - name: Upload debian package to release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.create_release.outputs.v-version }}
          draft: false
          generate_release_notes: true
          prerelease: false
          files: |
            build/libhc-dev*.deb
